@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the MVC principle module's home task</h1>
    <div class="buttons">
        <a href="https://localhost:7034/Categories">Category page</a>
        <a href="https://localhost:7034/Products">Product page</a>
    </div>
</div>
